In [1]:
import pandas as pd

## average linkage

In [2]:
Avg = pd.read_csv("artificialAvg.csv")
Avg

,Unnamed: 0,Agregation,banana,cluto,denseDisk,elly,engytime,Jain,Spiral,tetra,unbalance
0,0,1.0,0.816878,0.754104,0.837435,0.613528,0.896106,0.946381,0.507177,0.9975,0.036466

## Complete Linkage

In [3]:
Cpt = pd.read_csv("artificialCpt.csv")
Cpt

,Unnamed: 0,Agregation,banana,cluto,denseDisk,elly,engytime,Jain,Spiral,tetra,unbalance
0,0,0.918932,0.816047,0.672898,0.837435,0.537433,0.91233,0.946381,0.507177,0.995,0.037056

## Single Linkage

In [4]:
Sig = pd.read_csv("artificialSig.csv")
Sig

,Unnamed: 0,Agregation,banana,cluto,denseDisk,elly,engytime,Jain,Spiral,tetra,unbalance
0,0,0.905556,1.0,0.393857,0.860167,0.408451,0.677388,0.962448,1.0,0.989899,0.032365

## ward Linkage

In [5]:
Wrd = pd.read_csv("artificialWrd.csv")
Wrd

,Unnamed: 0,Agregation,banana,cluto,denseDisk,elly,engytime,Jain,Spiral,tetra,unbalance
0,0,0.977951,0.786531,0.710371,0.837435,0.61215,0.923828,0.86059,0.507177,0.9875,0.037642

## Kmeans

In [6]:
Kms = pd.read_csv("artificialKms.csv")
Kms

,Unnamed: 0,Agregation,banana,cluto,denseDisk,elly,engytime,Jain,Spiral,tetra,unbalance
0,0,0.906725,0.828518,0.757242,0.837435,0.629734,0.951416,0.850539,0.507177,1.0,0.037347